body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(vecteezy_abstract-gradient-blue-light-background_10082273.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;

}
.devs{
    font-size: 300%;
    position: relative;
    top: 80px;
    line-height: 110%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 30px rgb(42, 60, 224);
    border-radius: 16px;
    border: 1.5px solid rgb(rgb(240, 240, 240));
    width: 600px;
    height: 500px;
    font-size: 300%;
    padding-top: 10%;
}
.mah{
    line-height: 110%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 30px rgb(216, 114, 194);
    border-radius: 16px;
    border: 1.5px solid rgb(rgb(240, 240, 240));
    width: 600px;
    height: 500px;
    font-size: 120%;
    position: relative;
    top: 700px;
    padding-top: 10%;

}
#next{
    position: relative;
    left: 650px;
    font-size: 180%;
    bottom: 300px;
    line-height: 200%;
    font-family:Arial, Helvetica, sans-serif;
}
#up{
    position: relative;
    bottom: 20px;
}
#ham{
    position: relative;
    right: 600px;
    top: 270px;
    font-size: 180%;
    font-family:Arial, Helvetica, sans-serif;
    line-height: 200%;
}
#beautiful{
    position: relative;
    top: 20px;
    font-size: 300%;
}
button{

    position: relative;
    padding: 1em 2em;
    color: rgb(255, 253, 253);
    border: none;
    border-radius: 1000px;
    background-color: rgb(0, 0, 0);
    display: flex;
justify-content: center;
align-items: center;
top: 800px;
right: 1200px;
}
button::after{
    content: '';
    position: absolute;
    width: 106%;
    height: 104%;
    border-radius: 1000px;
      background-image: linear-gradient(to left top,rgb(255, 106, 235), rgb(0, 255, 255));
    z-index: -1;
}
button:hover{
    z-index: 0;

}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}