body{
    background: url(vecteezy_dark-backdrop-with-spotlights-background-vector-illustration_8440579.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
html,body{
    height: 100%;
    overflow-x: hidden;
}
.charm{
    color: white;
    font-size: 150%;
    font-family: 'Courier New', Courier, monospace;
    width: 612px;
    backdrop-filter: blur(12px);
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px white;
    margin: 10px;
    padding: 0 0 0 8px;
}
button{
    padding: 1rem 2rem;
    color: rgb(240, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    text-decoration-line: none;
    left: 1000px;
    bottom: 80px;
}
button::after{
    content: '';
    position: absolute;
    width: 108%;
    height: 108%;
    border-radius: 1000px;
    background-image: linear-gradient(to top left, rgb(0, 0, 0), rgb(255, 0, 0));
    z-index: -1;
}
button:hover{
    z-index: 0;

}
a{
    text-decoration-line: none;
    color: red;
}
@media screen and (max-width: 600px)
{
    .charm{
    font-size: 130%;
    width: 280px;
    margin: 2px;
    box-shadow: 2px 2px 2px 2px white;
}
button{
    left: 0px;
    bottom: 0px;
    margin: 12px;
}
}