body{
    background-image: url(vecteezy_abstract-perspective-triangle-lines-background-vector_7355634.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.dark{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    backdrop-filter: blur(6px);
    width: 730px;
    font-size: 160%;
    line-height: 200%;
    border-radius: 30px;
}
a{
    color: white;
    text-decoration-line: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}
button{
    left: 1200px;
    bottom: 85px;
    padding: 1em 2em;
    background-color: rgb(21, 48, 71);
    border: none;
    color: rgb(255, 255, 255);
    position: relative;
    border-radius: 1000px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
button::after{
    content: '';
    position: absolute;
    width: 106%;
    height: 104%;
    border-radius: 1000px;
    background-image: linear-gradient(to top left, white, aqua);
    z-index: -1;
}
button:hover{
    z-index: 0;
    box-shadow: 40px 0 100px #322fcf, -40px 0 100px #c9cc34;
    
}
