body{
    background-image: url(vecteezy_white-brick-wall-texture-background_3678277.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
html,body{
    height: 100%;
    overflow-x: hidden;
}
.help{
    font-size: 200%;
    font-family: Arial, Helvetica, sans-serif;
    width: 900px;
    border-radius: 70px;
    backdrop-filter: blur(2px);
    line-height: 200%;
}
a{
    color: rgb(105, 4, 4);
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    font-size: 110%;
}
#kks{
    color: rgb(255, 255, 255);
}
button{
padding: 1em 2em;
color: black;
border-radius: 1000px;
background-color: rgb(45, 51, 45);
position: relative;
border: none;
display: flex;
justify-content: center;
align-items: center;
}
button::after{
    content: '';
    position: absolute;
    width: 106%;
    height: 104%;
    border-radius: 1000px;
    background-image: linear-gradient(to left top,rgb(9, 255, 0), rgb(0, 255, 255));
    z-index: -1;
}
button:hover{
z-index: 0;
box-shadow: 40px 0 100px #322fcf, -40px 0 100px #c9cc34;
}
@media screen and (max-width: 600px){
    .help{
    font-size: 130%;
    width: 300px;
}
button{
bottom: 7px;
left: 3px;
}
}