body,html{
height: 100% ;
overflow-x: 0;
}
body{
    background: url(vecteezy_retro-comic-book-background_57182756.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.five{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 50%;
    font-size: 250%;
    line-height: 200%;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px yellow;
    padding: 4px;
    margin: 4px;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
button{
    padding: 1rem 2rem;
    color: rgb(240, 0, 0);
    background-color: rgb(255, 251, 0);
    border: none;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    text-decoration-line: none;
    left: 1000px;
    bottom: 80px;
}
button::after{
    content: '';
    position: absolute;
    width: 108%;
    height: 108%;
    border-radius: 1000px;
    background-image: linear-gradient(to top left, rgb(0, 255, 0), rgb(255, 255, 255));
    z-index: -1;
}
button:hover{
    z-index: 0;

}
@media screen and (max-width: 600px){
    .five{
    width: 200px;
    font-size: 120%;
}
button{
    left: 3px;
    bottom: 0;
    top: 19px;
}
}